<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

<h3>Introduction</h3>
This final work should demonstrate the knowledge of the tools Ive got through the "Tools for DS" section of the course

<h3>Objectives:</h3>
Some of the key takeaways from the course

<h3>Data science languages</h3>
Python is taking 75% of the market share, being the most popular DS language.
The second is R, used mainly by statisticians, mathematicians, data miners for developing stat software, graphing and data analysis.
Other languages used in the process are SQL, Java, Scala, C++, JS, and Julia

<h3>Data science libraries</h3>
Some of the commonly used libraries used by Data Scientists include:

PY libraries:
<br>
1. used for scientific computing -
pandas data structure & tools, providing two-dimensial tables of columns and rows & dataframes
numpy - for array & matrices
<br>
2. visualization libraries
matplotlib - plots, graphs, the most popular lib
seaborn - plots heat maps, time series, violin plots
<br>
3. scikit-learn. ML: regression, classification
<br>


others are:
<br>keras: deep learning neural networks.
<br>TensorFlow : production and deployment.
<br>pytorch: deep learning: regression, classification
<br>apache spark - general purpopse clustered framework, using mulitple clusters
<br>similar ad pandas, numpy or scikit-learn. can use py, r, scala, sql

<br>scala libraries: complimentary to spark.
<br>vegas - for visualization.
<br>bigdl for deep learning.
<br>r has built-in functionality for machine learning and data visualization
<br>ggplot2 - data visualization
<br>keras, tensorflow.
<br>r is standard for ds, but superceeded by python

<h3>Table of Data Science tools</h3>


<table>
 <tr>
    <th>Category of the tools</th>
    <th>Open-source Examples</th>
    <th>Commercial tools</th></tr>
    
 <tr>
    <td>Data management</td>    
     <td>mysql, postgresql. MongoDB, CouchDB, cassandra.
<br>file mngmnt: hadoop hdfs, ceph, elasticseaerch (text)
     </td><td>oracle, microsoft sql, ibm db</td></tr>
  
<tr>
    <td>Data integration and transformation (ETL, ELT)</td>
    <td>apache airflow, kubeflow, apache kafka, apache nifi, spark sql, node-red (runs even on raspberry pi)</td>
    <td>informatica, infospere datastage, sap, oracle, microsoft</td></tr>
<tr><td>Data visualization</td>
<td>Hue - visualization from SQL queries
<br>kibana - limited to elasticsearch
<br>apache superset</td>
    <td>tableau,  powerbi, ibm cognos analytics, watson studio desktop</td></tr>
<tr><td>Model building</td>
    <td>Google Cloud ai platform</td>
    <td>spss modeller, sas enterprise miner
<br>watson studio, spss modeller available inside
</td></tr>
<tr><td>Model deployment</td>
    <td>Apache PredictionIO - apache spark ML models for the deployment
<br>Seldon - every framework. 
<br>mleap 
<br>tensorflow service 
<br>tensorflwo lite, .js</td>
    <td>ibm spss</td></tr>
<tr><td>Model monitoring and Assessment</td>
<td>ModelDB - machine model database
<br>Promoetheus - widely used for monitoring
<br>model bias is ipmortant
<br>AI fairness 360 monitors biases
<br>adversarial robustness 360 - against attacks
<br>AI explainability 360 - more understandable, finds the examples that can be presented.
    </td>
    <td>no relevant tools available</td></tr>
    </table>

Below are a few examples of evaluating arithmetic expressions in Python

Arithmetic operations are quite straight-forward: +, -, * and /

Here are the examples:

In [5]:
## This a simple arithmetic expression to mutiply then add integers
a=10
b=30
sum=a+b
print("The sum of",a,"and",b,"is:",sum)

multiply=a*b
print("The mutiply of",a,"and",b,"is:",multiply)

## and also: 
(3*4)+5

The sum of 10 and 30 is: 40
The mutiply of 10 and 30 is: 300

17

In [20]:
minutes = 2437
hours = minutes // 24

print ("The number of full hours in",minutes,"mins is",hours,"hours")

The number of full hours in 2437 mins is 101 hours

<h2>Author: Anton Zuev</h2>